{% extends "events/structure.html" %}
{% load static %}
{% block title %}Create Event{% endblock title %}

{% block content %}
    {% comment %} Create_Event_Form {% endcomment %}
    <div class="flex justify-center items-center min-h-screen py-8">
      <div
        class="bg-white rounded-lg w-full max-w-2xl border-2 border-gray-200 shadow-xl p-10 text-gray-700"
      >
        <div class="p-6 rounded-lg">
          <div class="rounded-md w-50 h-20 mb-4">
            {% if message %}
            <p class="text-indigo-700 text-4xl text-center">{{message}}</p>
            {% endif %}
          </div>
          <form method="POST" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            <h2 class='my-4 text-3xl text-center font-bold text-indigo-600'> Create A New Event</h2>
            {% for field in form %}
            <div class="mb-4">
              <label
                for="{{ field.id_for_label }}"
                class="block text-gray-700 font-medium mb-2"
              >
                {{ field.label }}
              </label>
               {% if field.name == 'date' %}
        <div class="date-field-container flex space-x-2">
            {{ field }}
        </div>
    {% else %}
        {{ field }}
    {% endif %}
              
              {% if field.errors %} {% for error in field.errors %}
              <p class="text-red-500 text-sm">{{ error }}</p>
              {% endfor %} {% endif %}
            </div>
            {% endfor %}
            <div class="pt-4">
              <input
                type="submit"
                value="Create"
                class="w-full bg-indigo-600 text-white font-semibold px-4 py-3 rounded-lg hover:bg-indigo-700 transition cursor-pointer"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}