{% extends "events/structure.html" %}
{% load static %}
{% block title %}Events{% endblock title %}

{% block content %}
{% include 'hero_section.html'%}
{% if counts.total == 0%}
  {% comment %} Empty List {% endcomment %}
  {% include 'empty_list.html' with message="No Event has been added yet!"%}
{% else %}
{% comment %} level-2 serach_bar {% endcomment %}
  {% include 'search_section.html'%}
{% comment %} level-3 Catagory-Dropbar {% endcomment %}
<!-- Categories Section -->
<section class="h-[33vh] bg-white flex flex-col items-center justify-center">
  <!-- Heading -->
  <div class="mb-3">
    <h2 class="text-xl font-semibold text-gray-800">Categories (Total - {{counts.total}})</h2>
  </div>

  <!-- Dropdown -->
  <div>
  <select class="w-52 px-4 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-700" 
          onchange="window.location.href='{% url 'home' %}?type=' + this.value">
    <option value="all" {% if selected_type == 'all' %}selected{% endif %}>All</option>
    {% for category in categories_with_events %}
    <option value="{{category.name}}" {% if selected_type == category.name %}selected{% endif %}>
      {{category.name}}
    </option>
    {% endfor %}
  </select>
</div>
</section>

{% comment %} level-4 Lists {% endcomment %}
<!-- Events Section -->
<section class="bg-white px-4 md:px-32 py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {% for event in event_list %}
        {% include 'events/event_card.html'%}
      {% endfor %}
  </div>
</section>
{% endif %}
{% endblock content %}
