{% extends "events/structure.html" %}
{% load static %}
{% block title %}Participants{% endblock title %}

{% block content %}
  <!-- Main Wrapper with proper margin -->
  <div class="my-10 text-gray-700">
    <!-- First Section -->
    <section class="mb-6 margin_y margin">
      {% comment %} <a href="{% url 'add_people'%}" class="mx-10 px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 transition">
  Add New Participants
</a> {% endcomment %}
    </section>

    <!-- Second Section -->
    <section>
      {% if participants %}
        <h2 class="text-3xl md:text-5xl text-center font-medium mb-6 margin_heading">All Participants</h2>
        {% if messages %}
                  {% for message in messages %}
                      {% if message.tags == 'success' %}
                      <h1 class="text-3xl text-center font-normal mb-3">{{message}}</h1>
                      {% endif %}
                  {% endfor %}
              {% endif %}
              <div class="overflow-x-auto border-x-2">
                <table class="w-full md:w-2/3 mx-auto table-auto">
                  <thead>
                    <tr>
                      <th class="px-3 py-2 text-center font-medium text-gray-700">Name</th>
                      <th class="px-3 py-2 text-center font-medium text-gray-700" colspan="2">Email</th>
                      <th class="px-3 py-2"></th>
                      <th class="px-3 py-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for participant in participants %}
                    <tr>
                      <td class="px-3 py-2 text-center">{{participant.first_name}}</td>
                      <td class="px-3 py-2 text-center" colspan="2">{{participant.email}}</td>
                      <td class="px-3 py-2">
                        <a href='{% url "update_people" participant.id %}' class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 transition">Edit</a>
                      </td>
                      <td class="px-3 py-2">
                        <form action='{% url "delete_people" participant.id %}' method='POST'>
                      {% csrf_token %}
                      <button type='submit' class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700 transition">Delete</button>
                    </form>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
      {% else %}
          {% comment %} Empty List {% endcomment %}
          {% include 'empty_list.html' with message="No participant has been added yet"%}
      {% endif %}
    </section>

  </div>
{% endblock content %}