{% extends "events/structure.html" %}
{% block content %}
    <div class='mx-3 md:mx-auto w-auto md:w-1/2 my-9'>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form method='POST'>
            {% csrf_token %}
            {{ form }}
            <button class='px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition font-medium' type="submit">Change Password</button>
        </form>
    </div>
{% endblock content %}