{% extends "events/structure.html" %}
{% load custom_filters %}
{% block title %}Update Profile{% endblock title %}
{% block content %}
    <div class='mx-auto w-1/2 my-9'>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form }}
            <button class='px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition font-medium' type="submit">Update Profile</button>
        </form>
    </div>
{% endblock content %}