{% extends "events/structure.html" %}
{% load static %}
{% block title %}Create Group{% endblock title %}
{% block content %}
    <div class='mx-3 md:mx-auto w-auto md:w-1/2 my-9'>
        <ul>
            {% for message in messages %}
                <li class="bg-green-500 text-white px-1 py-2">{{message}}</li>
            {% endfor %}
        </ul>
        <form method='POST'>
            <h2 class='my-4 text-3xl text-center font-bold text-indigo-600'> Create New Group for the Users</h2>
            {% csrf_token %}
            {{form}}
            <button type="submit" class="m-4 px-3 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition font-normal">Create Group</button>
        </form>
    </div>
{% endblock content %}