{% extends "events/structure.html" %}
{% load static %}
{% block title %}User List{% endblock title %}

{% block content %}
<div class="container mx-auto p-6 min-h-60 flex justify-center items-center">
    <div class="overflow-x-auto border-x-2">
      <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden border-separate border-spacing-x-0 md:border-spacing-x-5 text-center">
        <thead class="bg-gray-100">
          <tr>
            <th
              class="border-b-4 px-4 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Number
            </th>
            <th
              class="border-b-4 px-4 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Username
            </th>
            <th
              class="border-b-4 px-4 py-3 text-center text-xs  font-medium text-gray-500 uppercase tracking-wider"
            >
              Email
            </th>
            <th
              class="border-b-4 px-4 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              User ID
            </th>
            <th
              class="border-b-4 px-4 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Current Role
            </th>
            <th
              class="border-b-4 px-4 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            {% for user in users %}
                <tr class="hover:bg-gray-50">
                    <td class="px-4 py-4 whitespace-nowrap">{{forloop.counter}}</td>
                    <td class="px-4 py-4 whitespace-nowrap">{{user.first_name}} {{user.last_name}}</td>
                    <td class="px-4 py-4 whitespace-nowrap">{{user.email}}</td>
                    <td class="px-4 py-4 whitespace-nowrap">{{user.id}}</td>
                    <td class="px-4 py-4 whitespace-nowrap">{{user.group_name}}</td>
                    <td class="px-4 py-4 whitespace-nowrap">
                    <a
                        href="{% url 'assign-role' user.id %}"
                        class="p-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition font-normal"
                    >
                        Change Role
                    </a>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
      </table>
    </div>
  </div>
  
<QuerySet ['Manager']>
{% endblock content %}