{% extends "events/structure.html" %}
{% load static %}
{% block title %}My List{% endblock title %}

{% block content %}
{% comment %} level-4 Lists {% endcomment %}
<!-- Events Section -->
 {% if event_list %}
<section class="bg-gray-100 px-4 md:px-32 py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {% for event in event_list %}
        {% include 'events/event_card.html'%}
      {% endfor %}
  </div>
</section>
{% else %}
      {% comment %} Empty List {% endcomment %}
  {% include 'empty_list.html' with message="Your RSVP List is Empty!"%}
{% endif %}
  </div>
</section>
{% endblock content %}
